<div id="data">
  <div id="account-title">
    {{account .Id}}
    {{if .Disabled}}(DISABLED){{end}}
  </div>
  <div class="row">
    <div id="balances" class="large-6 columns">
      <h2>Balances</h2>
      <ul>
        {{range $key, $bSlice := .BalanceMap}}
        <li>
          {{balance $key}}
          {{range $bal := $bSlice}}
          Value: {{$bal.Value}}
        </li>
        {{end}}
      </dl>
      {{end}}
      </ul>
    </div>
    <div id="triggers" class="large-6 columns">
      <h2>Alarms</h2>
      <ul>
      {{range $trig := .ActionTriggers}}
        <li class="{{if $trig.Executed}}executed{{end}}">Type: {{trim $trig.ThresholdType "*"}} Value: {{$trig.ThresholdValue}} {{if $trig.Executed}}(FIRED){{end}}</li>
      {{end}}
      </ul>
    </div>
  </div>
</div>
