<div id="data">
  <div id="account-title">
    {{account .Id}}
    {{if .Disabled}}<span class="red">(DISABLED)</span>{{end}}
  </div>
  <div class="row">
    <div id="balances" class="large-6 columns">
      <h2>Balances</h2>
      {{range $key, $bSlice := .BalanceMap}}
      <h5>{{balance $key}}</h5>
      <ul>
        {{range $bal := $bSlice}}
        <li>Value: {{$bal.Value}}</li>
        {{end}}
      </ul>
      {{end}}
    </div>
    <div id="triggers" class="large-6 columns">
      <h2>Alarms</h2>
      <ul>
        {{range $trig := .ActionTriggers}}
        <li class="{{if $trig.Executed}}executed{{end}}">Type: {{trim $trig.ThresholdType "*"}} Value: {{$trig.ThresholdValue}} {{if $trig.Executed}}<span class="red">(FIRED)</span>{{end}}</li>
        {{end}}
      </ul>
    </div>
  </div>
</div>
